.mainIndex {
  background-color: #26362d;
}

h2.carouselTitleFont {
  color: whitesmoke;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
}

.opacity {
  background: rgba(179, 180, 180, 0.5);
  width: 100%;
}

.divIndex {
  padding: 65px;
}

.imgBorderRadius {
  border-radius: 30px;
}

/* Version Min 576 Max992*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .imagenProductoIndex {
    height: 300px;
  }
}

/* Version Max576 */
@media only screen and (max-width: 576px) {
  .imagenProductoIndex {
    height: 290px;
  }
}

h1.h1BarbaBlog {
  margin-bottom: 40px;
}

.fuente-main {
  color: whitesmoke;
}

.containerImg {
  overflow: hidden;
}

.imagenProductoBlog {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0px;
}

.containerFAQ {
  font-size: 1.3rem;
  margin: 20px;
  margin-right: 47px;
}

.parrafoFAQ {
  padding-left: 5px;
  font-size: 1.5rem;
}

.imgGotita {
  margin: 0px;
}

.imagenProductoBlog:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

/* Version Min 576 Max992*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .imagenProductoBlog {
    height: 500px;
  }
  .blogBorderRadius {
    border-radius: 30px;
  }
}

/* Version Max576 */
@media only screen and (max-width: 576px) {
  .imagenProductoBlog {
    height: 250px;
  }
  .blogBorderRadius {
    border-radius: 30px;
  }
}

/* TIENDA */
.divTienda {
  padding: 65px;
}

h1.h1Tienda {
  padding-bottom: 0px;
}

h2.h2Tienda {
  padding-top: 10px;
}

.btn--Silvestre {
  background-color: #9FBB71;
  color: #26362d;
  padding: 5px 50px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--Dulce {
  background-color: #5849BF;
  color: #26362d;
  padding: 5px 50px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--Fresco {
  background-color: #04BFBF;
  color: #26362d;
  padding: 5px 50px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--Oriental {
  background-color: #D6AE70;
  color: #26362d;
  padding: 5px 50px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--Silvestre:hover {
  background-color: #81975d;
}

.btn--Silvestre__enTienda {
  padding: 1px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* MAPA FIN */
.parrafoTienda {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.formTienda {
  padding-left: 10px;
}

.btn__Comprar {
  padding-top: 20px;
  padding-left: 130px;
  padding-bottom: 30px;
}

h4.tienda4 {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

input:focus {
  outline: none;
}

.carousel-control-prev {
  width: 15px;
  left: 20px;
}

.carousel-control-next {
  width: 15px;
  right: 20px;
}

.selectTiendaText {
  font-size: 1.3rem;
  color: whitesmoke;
}

.selectTienda {
  border-radius: 5px;
  padding: 3px;
}

.labelTienda {
  margin: 15px 10px;
  padding-left: 30px;
}

.titulosTienda {
  font-size: 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carouselBorderRadius {
  border-radius: 30px;
}

.imgWidth {
  width: 280px;
}

/* Version Min 576 Max992*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .divTienda {
    padding: 20px;
    padding-top: 70px;
  }
  .btn__Comprar {
    padding-top: 20px;
    padding-left: 120px;
  }
  .imgWidth {
    width: 250px;
    margin-top: 40px;
  }
  .labelTienda {
    margin: 15px 10px;
  }
}

/* Version Max576 */
@media only screen and (max-width: 576px) {
  .divTienda {
    padding: 0px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .imgWidth {
    width: 200px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .btn__Comprar {
    padding-top: 20px;
    padding-left: 95px;
  }
  .labelTienda {
    margin: 15px 60px;
  }
  .labelTienda0 {
    margin: 15px 90px;
  }
}

h1.contacto {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 0;
  text-align: center;
}

h2.contact {
  padding-bottom: 40px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner {
  max-width: 758px;
  margin: auto;
  background: #566641;
  border: 10px solid whitesmoke;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px;
}

.form-group span {
  font-size: 15px;
  color: whitesmoke;
  position: absolute;
  top: 11px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  cursor: text;
}

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  background: #fff;
}

.form-control {
  border: none;
  border-bottom: 2px solid whitesmoke;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
}

.form-control:focus, .form-control:valid {
  border-bottom: 2px solid #fff;
}

.form-control:focus + span, .form-control:valid + span {
  -webkit-transform: translateY(-30px) scale(0.8);
          transform: translateY(-30px) scale(0.8);
}

.form-control:focus + span + .border, .form-control:valid + span + .border {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

textarea {
  resize: none;
  overflow: hidden;
}

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

.enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }
  .wrapper {
    background: #566641;
    border: 10px solid whitesmoke;
  }
}

/* BARBA WALTZ PAGE */
.cajaBarbaPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2 1fr;
      grid-template-columns: 2 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "juvenil casual";
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2.barbaPageTitle {
  text-align: center;
}

ul.listaBarbaPage {
  list-style: none;
  list-style-type: none;
  text-align: center;
  font-weight: 100;
}

.parrafoHistoria {
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  padding: 15px 35px;
}

.pieImg {
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
}

.juvenil {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: juvenil;
}

.casual {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: casual;
}

.imgBW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  padding: 0px;
}

.imgBW2 {
  margin: 0px;
  border-radius: 10px;
}

@media only screen and (max-width: 576px) {
  .imgBW2 {
    margin: 0px;
    border-radius: 10px;
    height: 200px;
  }
  .imgVer {
    height: 400px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .imgBW2 {
    margin: 0px;
    border-radius: 10px;
    height: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .imgBW2 {
    margin: 0px;
    border-radius: 10px;
    height: 165px;
  }
}

.div404 {
  height: 100vh;
}

.img404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  padding: 0px;
}

@media only screen and (max-width: 576px) {
  .h14040 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: whitesmoke;
}

html body {
  font-size: 1.6rem;
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html body h1 {
  color: whitesmoke;
  font-weight: 700;
  font-size: 2.3rem;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
}

html body h2 {
  color: whitesmoke;
  font-weight: medium 500;
  font-size: 2.0rem;
  font-style: normal;
  text-align: center;
  margin: 2px;
  padding: 20px;
  border: 0;
}

html body h3 {
  color: whitesmoke;
  font-style: oblique;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0px;
  padding: 20px;
  border: 0;
  text-align: center;
}

html body h4 {
  color: whitesmoke;
  font-style: italic;
  font-weight: normal;
  font-size: 2.0rem;
  margin: 0;
  padding: 20px;
  border: 0;
}

p {
  color: whitesmoke;
}

a {
  color: #ebf3ec;
}

nav ul li {
  list-style: none;
  font-size: 1.6rem;
  color: white;
  font-weight: 300;
}

nav ul li a {
  color: #ebf3ec;
}

.header__navegador--font {
  list-style: none;
  font-size: 1.6rem;
  color: #eacfbe !important;
}

.header__navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  position: fixed;
  z-index: 100;
  background: #566641;
}

.header__padding {
  padding-left: 10px;
  padding-right: 10px;
}

.header__navegador--logoBarba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 0;
  height: 60px;
}

.breadcrumbMargin {
  padding-top: 25px;
}

.carouselMargin {
  padding-top: 50px;
}

nav ol li a {
  color: whitesmoke;
}

nav ol li a:hover {
  color: gray;
}

a:link {
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  color: lightgray;
}

/* selected link */
a:active {
  color: lightsteelblue;
}

.currentLink {
  text-decoration: underline !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.breadcrumb-item.active {
  color: whitesmoke;
}

article section ul li {
  list-style-type: none;
  list-style: none;
}

img {
  margin: 20px;
  padding: 0;
  border: 0;
}

.imgSecciones {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  border: 0;
}

.carousel-item img {
  max-height: 500px;
  /* input your desired height here */
}

/* 3.Footer */
.footerDisplayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.footerDisplayFlex .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.footerDisplayFlex .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  padding-right: 100px;
  padding-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerIndexBackColor {
  background: #566641;
}

.parrafoNegritaFooterWhite {
  font-weight: 100;
  font-size: 2.0rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
}

/* 3.Footer Fin */
/* Version Max576 */
@media only screen and (max-width: 576px) {
  .header__navegador--logoBarba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
  }
  .carouselMargin {
    padding-top: 32px;
  }
  h1 {
    text-align: center;
    font-size: 1.9rem;
  }
  .header__navegador--barraNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 99%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .imgSecciones {
    margin-top: 35px;
  }
  .footerDisplayFlex .item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footerDisplayFlex .item2 {
    display: none;
  }
  .header__navegador--logoBarba {
    margin-left: 0px;
  }
}

/* Version Min 576 Max992*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .footerDisplayFlex .item3 {
    display: none;
  }
  a:link {
    font-size: 1.3rem;
  }
  .header__navegador--logoBarba {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */