h1.contacto {
    font-size: 2rem;
    color: $main-color;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    border: 0;
    text-align: center;
  }
  
  /* Contaco Page */
  
  .mainContacto {
    background-color: black;
  }
  
  
  .formContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 750px;
    align-items: center;
    color: white;
    background-color: black
  }
  
  .formInput {
    text-align: center;
  }
  
  /* FORMULARIO CONTACTO */
  
  .gridFormularioContacto {
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: auto;
    grid-template-areas: ". formularioContacto .";
    align-items: center;
    justify-items: center;
  }
  

  
  textarea:focus {
    box-shadow: none;
    outline-offset: 0px;
    outline: none;
  }
  
  select:focus {
    box-shadow: none;
    outline-offset: 0px;
    outline: none;
  
  }
  
  input:focus{
    box-shadow: none;
    outline-offset: 0px;
    outline: none;

  }

  .formularioContacto {
    grid-area: formularioContacto;
    border: #efca89 solid 5px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  /* FORMULARIO CONTACTO FIN */