h1.contacto {
    font-size: 2rem;
    color: $main-color;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 0;
    text-align: center;
  }

  h2.contact{
    padding-bottom: 40px;
  }
  
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .inner {
    max-width: 758px;
    margin: auto;
    background: #566641;
    border: 10px solid whitesmoke;
    padding: 77px 99px 87px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .form-group {
    position: relative;
    display: block;
    margin-bottom: 48px;
    span {
      font-size: 15px;
      color: whitesmoke;
      position: absolute;
      top: 11px;
      transition: all .2s ease;
      transform-origin: 0 0;
      cursor: text;
    }
    span.border {
      height: 2px;
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 41px;
      transform: scaleX(0);
      transition: all .15s ease;
      background: #fff;
    }
  }
  .form-control {
    border: none;
    border-bottom: 2px solid whitesmoke;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    &:focus, &:valid {
      border-bottom: 2px solid #fff;
      & + span {
        transform: translateY(-30px) scale(.8);
        & + .border {
          transform: scaleX(1);
        }
      }
    }
  }

textarea{
  resize: none;
  overflow: hidden;
}

  textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .enviar{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .inner {
      padding: 27px 20px 37px;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
    }
    .wrapper {
      background: #566641;
      border: 10px solid whitesmoke;
    }
  }