.mainIndex {
    background-color: #26362d;
  } 

  h2.carouselTitleFont {
    color: whitesmoke;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
  }

.opacity {
    background: rgba(179, 180, 180, 0.5);
    width: 100%;
}

.divIndex{
padding: 65px;
}
    /* Contenedor Index */
    .gridIndex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px;
      align-items: center;
      justify-items: center;
      grid-template-areas: "gridIndex1 gridIndex2""gridIndex3 gridIndex4";
    
    }
    
    .gridIndex1 {
      grid-area: gridIndex1;
    
    }
    
    .gridIndex2 {
      grid-area: gridIndex2;
    
    }
    
    .gridIndex3 {
      grid-area: gridIndex3;
    
    }
    
    .gridIndex4 {
      grid-area: gridIndex4;
    }

    .imgBorderRadius{
border-radius: 30px;
    }

        /* Version Min 576 Max992*/
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    .imagenProductoIndex{
      height: 300px;
    }
  }


  /* Version Max576 */
  
  @media only screen and (max-width: 576px){
    .imagenProductoIndex{
      height: 290px;
    }
  }