.mainIndex {
    background-color: #26362d;
  } 

  h2.carouselTitleFont {
    color: whitesmoke;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
  }

.opacity {
    background: rgba(179, 180, 180, 0.5);
    width: 100%;
}

.divIndex{
padding: 65px;
}

    .imgBorderRadius{
border-radius: 30px;
    }

        /* Version Min 576 Max992*/
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    .imagenProductoIndex{
      height: 300px;
    }
  }


  /* Version Max576 */
  
  @media only screen and (max-width: 576px){
    .imagenProductoIndex{
      height: 290px;
    }
  }