$Silvestre: #9FBB71;
$Dulce: #5849BF;
$Fresco: #04BFBF;
$Oriental:#D6AE70;
 

 /* TIENDA */
  $main-color: whitesmoke;

.divTienda{
padding: 65px;
}

h1.h1Tienda{
  padding-bottom: 0px;
}

h2.h2Tienda{
  padding-top: 10px;
}

  .fuente-main{
    color: $main-color;
  }
  /* Producto 1 */

  @mixin gridProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }

  @mixin compra {
    height: 350px;
    width: 100%;

  }

/* BUCLES */
  @for $i from 1 through 4 {
    .lista-#{$i} {
      height: 250px;
    }
  }

  @for $i from 1 through 4 {
    .compra-#{$i} {
      height: 350px;
    }
  }
/* BUCLES FIN */


$coloresAceites: $Silvestre, $Dulce, $Fresco, $Oriental;

@each $color in $coloresAceites {
  .fontColor-#{$color}{
    color: $color;
  }

}

/* EACH FIN */

  /* MAPA */
  $aceite:   
  (Silvestre: #9FBB71,
  Dulce: #5849BF,
  Fresco: #04BFBF,
  Oriental:#D6AE70,
  );
  
  @each $aNombre, $suscolor in $aceite {
    .fuente-#{$aNombre} {
      color: $suscolor;
    }
  }

  $colors-Compra: 
  (Silvestre: #9FBB71,
    Dulce: #5849BF,
    Fresco: #04BFBF,
    Oriental:#D6AE70,
  );

  @each $red, $sucolor in $colors-Compra {
    .btn--#{$red} {
      background-color: $sucolor;
      color: #26362d;
      padding: 5px 50px;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .btn--Silvestre:hover{
    background-color: #81975d;
  }

  .btn--Silvestre__enTienda{
    padding: 1px 20px;
    font-size: 1.5rem;

  }

  /* MAPA FIN */

.parrafoTienda{
  font-size: 1.3rem;
display: flex;
padding: 0px 50px;
justify-content: flex-start;
}

.formTienda{
  padding-left: 10px
}

.btn__Comprar{
  padding-top: 20px;
  padding-left: 130px;
  padding-bottom: 30px;
}

h4.tienda4{
  font-size: 1.5rem;
  display: flex;
  padding: 10px 50px;
  justify-content: flex-start;
}

  .carousel-control-prev
{
    width: 15px;
    left: 20px;
}
    
.carousel-control-next
{
    width: 15px;
    right: 20px;
}
/* CARRITO COMPRAS */

.carrito{
  padding-top: 60px;
  padding-left: 0px;
  margin-right: 0px;
}

.selectTiendaText{
  font-size: 1.3rem;
  color: $main-color;
}

.selectTienda{
  border-radius: 5px;
  padding: 3px;
}

.labelTienda{
  margin: 15px 10px;
  padding-left: 30px;
}


.titulosTienda{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.containerTop{
  padding-top: 40px;
}

.carouselBorderRadius{
  border-radius: 30px;
}

.imgWidth{
  width: 280px;

}

  /* Version Min 576 Max992*/
  
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    .divTienda{
      padding: 20px;
      padding-top: 70px;
      }
    
      .btn__Comprar{
        padding-top: 20px;
        padding-left: 120px;
      }

    .imgWidth{
      width: 250px;
      margin-top: 40px;
    }

    .labelTienda{
      margin: 15px 10px;
    }
    
  }

    /* Version Max576 */

  @media only screen and (max-width: 576px) {

    .divTienda{
      padding: 0px;
      padding-top: 70px;
      padding-bottom: 30px;
      }

    .imgWidth{
      width: 200px;
      margin-top: 40px;
    }

  }

  @media only screen and (max-width: 320px){
    .btn__Comprar{
      padding-top: 20px;
      padding-left: 95px;
    }

    .labelTienda{
      margin: 15px 60px;
    }

    .labelTienda0{
      margin: 15px 90px;
    }
    
  }