@import "index";
@import "barba-blog";
@import "tienda";
@import "contacto";
@import "barba-waltz";
@import "404";


$main-color: whitesmoke;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: $main-color;

    body {
        font-size: 1.6rem;
        font-family: 'Gothic A1', sans-serif;
        margin: 0;
        padding: 0;
        border: 0;

        h1 {
            color: $main-color;
            font-weight: 700;
            font-size: 2.3rem;
            font-style: normal;
            text-align: center;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            border: 0;          
          }

          h2 {
            color: $main-color;
            font-weight: medium 500;
            font-size: 2.0rem;
            font-style: normal;
            text-align: center;
            margin: 2px;
            padding: 20px;
            border: 0;
          }
          
          
          h3 {
            color: $main-color;
            font-style: oblique;
            font-weight: 300;
            font-size: 1.8rem;
            margin: 0px;
            padding: 20px;
            border: 0;
            text-align: center;
          }
          
          h4 {
            color: $main-color;
            font-style: italic;
            font-weight: normal;
            font-size: 2.0rem;
            margin: 0;
            padding: 20px;
            border: 0;
          }
    }

}

p{
  color: $main-color;
}
a{
  color: #ebf3ec;
}
nav ul li {
    list-style: none;
    font-size: 1.6rem;
    color: white;
    font-weight: 300;

    a{
      color: #ebf3ec;
    }
  }

  .header__navegador--font{  list-style: none;
    font-size: 1.6rem;
    color: #eacfbe !important}
  
  
  .header__navegador{
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    z-index: 100;
    background: #566641;
  }
  
  .header__padding{
    padding-left: 70px;
    padding-right: 60px;
  }

  
  .header__navegador--logoBarba {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 0;
    height: 60px;
  }
  

.breadcrumbMargin{
  padding-top: 25px;
}

 .carouselMargin{
   padding-top: 50px;
 }

nav ol li a{
  color: $main-color;
}

nav ol li a:hover{
  color: gray;
}

  a:link {
    text-decoration: none;
    color: white;
  }

  
  /* mouse over link */
  a:hover {
 
    color: lightgray;
  }
  
  /* selected link */
  a:active {
    color: lightsteelblue;
  }

  .currentLink {
    text-decoration: underline !important;
  ;
 }

  .breadcrumb-item + .breadcrumb-item::before {
    color: white;

  }

  .breadcrumb-item.active {
    color: $main-color;
  }
  
  article section ul li {
    list-style-type: none;
    list-style: none;
  }
  
  img {
    margin: 20px;
    padding: 0;
    border: 0;
  }
  
  .imgSecciones {
    margin: 0;
    margin-top: 60px;
    padding: 0;
    border: 0;
  }
  

  .carousel-item img {
    max-height: 500px;
     /* input your desired height here */
  }

  /* 3.Footer */
  .footerDisplayFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  
  }
  
  .footerDisplayFlex .item1 {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    align-items: center;
    padding-top: 10px;
  }
  
  .footerDisplayFlex .item2 {
    display: flex;
    justify-content: center;
    width: 33%;
    padding-right: 100px;
    padding-top: 15px;
    align-items: center;
  }

  
  .footerIndexBackColor {
    background:#566641;
  }
  
  .parrafoNegritaFooterWhite {
    font-weight: 100;
    font-size: 2.0rem;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
  }

  /* 3.Footer Fin */
  
  /* Version Max576 */
  
  @media only screen and (max-width: 576px) {

    .header__navegador--logoBarba {
      display: flex;
      align-items: center;
      height: 40px;
    }
  
    .carouselMargin{
      padding-top: 32px;
    }
   

    h1 {
      text-align: center;
      font-size: 1.9rem;
    }
  
    .header__navegador--barraNav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 99%;
      align-items: center;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .imgSecciones {
      margin-top: 35px;
    }
  
    .footerDisplayFlex .item1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .footerDisplayFlex .item2 {
      display: none;
    }


  }
  
  /* Version Min 576 Max992*/
  
  @media only screen and (min-width: 576px) and (max-width: 992px) {
    
    .footerDisplayFlex .item3 {
      display: none;
      }

  
    a:link {
      font-size: 1.3rem;
  
    }
  
  }
